In [6]:
import pdftables

In [7]:
dir(pdftables)

['BOTTOM',
 'Counter',
 'IS_TABLE_COLUMN_COUNT_THRESHOLD',
 'IS_TABLE_ROW_COUNT_THRESHOLD',
 'LAParams',
 'LEFT',
 'LTPage',
 'Leaf',
 'LeafList',
 'PDFDevice',
 'PDFDocument',
 'PDFPage',
 'PDFPageAggregator',
 'PDFPageInterpreter',
 'PDFParser',
 'PDFResourceManager',
 'RIGHT',
 'StringIO',
 'TOP',
 'Table',
 'TableDiagnosticData',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'apply_combs',
 'calculate_modal_height',
 'codecs',
 'collections',
 'comb',
 'comb_extend',
 'comb_from_projection',
 'comb_from_uppers_and_lowers',
 'contains_tables',
 'counter',
 'crop_table',
 'file_handle_from_url',
 'filter_box_list_by_position',
 'find_minima',
 'find_table_bounding_box',
 'fround',
 'get_min_and_max_y_from_hints',
 'get_pdf_page',
 'get_tables',
 'initialize_pdf_interpreter',
 'math',
 'multi_column_detect',
 'numpy',
 'page_contains_tables',
 'page_to_tables',
 'pdftables',
 'project_boxes',
 'requests',
 'rounder',
 'sys',
 'threshold_above',
 'tree']

In [11]:
pg=pdftables.get_pdf_page(open("D:\AI\python\Python course\Data_science\imp\work\invoice_sample_2.pdf", "rb", ), 1)

In [12]:
pg

In [14]:
tables=pdftables.page_to_tables(pg)

In [15]:
tables

([['02/01/2019 ', 'LUKASZ Z ', 'Developer (Lukasz Z.) ', '11,060.00 '],
  ['02/01/2019 ',
   'ANGELIKAM ',
   'Junior QA Specialist (Angelika) ',
   '6,440.00 '],
  ['02/01/2019 ', 'ANASTASIYA ', 'QA Specialist (Anastasiya) ', '8,540.00 '],
  ['02/01/2019 ', 'ANDREW ', 'Acct. Manager (Andrew) ', '2,685.00 '],
  ['02/01/2019 ', 'DOROTA ', 'Project Manager (Dorota) ', '11,900.00 '],
  ['02/01/2019 ', 'LUKASZ B ', 'Junior Developer (Lukasz) ', '4,270.00 '],
  ['02/01/2019 ', 'T&M SERVICES (FM) ', 'Developer (Szymon) ', '10,507.00 '],
  ['02/01/2019 ',
   'NATALIA ',
   'Assistant Project Manager (Natalia) ',
   '2,166.00 '],
  ['02/01/2019 02/01/2019 ',
   'KACPERR ',
   'UX Designer (Kacper) DISCOUNTS ',
   '4,200.00 Subtotal: 146,643.00 '],
  ['02/01/2019 02/01/2019 ',
   'ROBBIE ',
   'Business Analyst (Robbie) - January 100% JANUARY CORRECTIONS ',
   '-1,750.00 Subtotal: -1,750.00 '],
  ['02/01/2019 ', 'SEANH ', 'Engagement Manager (Sean) ', '-3,337.50 '],
  ['02/01/2019 ', 'ROBBIE ', 'Business Analyst (Robbie) ', '1,750.00']],
 <pdftables.pdftables.TableDiagnosticData at 0x1c028e80f40>)

In [16]:
type(tables)

tuple

In [18]:
type(tables[0])

list

In [21]:
tables[0]

[['02/01/2019 ', 'LUKASZ Z ', 'Developer (Lukasz Z.) ', '11,060.00 '],
 ['02/01/2019 ',
  'ANGELIKAM ',
  'Junior QA Specialist (Angelika) ',
  '6,440.00 '],
 ['02/01/2019 ', 'ANASTASIYA ', 'QA Specialist (Anastasiya) ', '8,540.00 '],
 ['02/01/2019 ', 'ANDREW ', 'Acct. Manager (Andrew) ', '2,685.00 '],
 ['02/01/2019 ', 'DOROTA ', 'Project Manager (Dorota) ', '11,900.00 '],
 ['02/01/2019 ', 'LUKASZ B ', 'Junior Developer (Lukasz) ', '4,270.00 '],
 ['02/01/2019 ', 'T&M SERVICES (FM) ', 'Developer (Szymon) ', '10,507.00 '],
 ['02/01/2019 ',
  'NATALIA ',
  'Assistant Project Manager (Natalia) ',
  '2,166.00 '],
 ['02/01/2019 02/01/2019 ',
  'KACPERR ',
  'UX Designer (Kacper) DISCOUNTS ',
  '4,200.00 Subtotal: 146,643.00 '],
 ['02/01/2019 02/01/2019 ',
  'ROBBIE ',
  'Business Analyst (Robbie) - January 100% JANUARY CORRECTIONS ',
  '-1,750.00 Subtotal: -1,750.00 '],
 ['02/01/2019 ', 'SEANH ', 'Engagement Manager (Sean) ', '-3,337.50 '],
 ['02/01/2019 ', 'ROBBIE ', 'Business Analyst (Robbie) ', '1,750.00']]

In [22]:
tables[0][1]

['02/01/2019 ', 'ANGELIKAM ', 'Junior QA Specialist (Angelika) ', '6,440.00 ']

In [32]:
titels= ['DATE', 'ACTIVITY', 'DESCRIPTION', 'AMOUNT']

In [33]:
titels

['DATE', 'ACTIVITY', 'DESCRIPTION', 'AMOUNT']

In [38]:
all_rows=[]

for row_data in tables[0][0:]:
    all_rows.extend([row_data[:4],row_data[4:]])

In [39]:
all_rows

[['02/01/2019 ', 'LUKASZ Z ', 'Developer (Lukasz Z.) ', '11,060.00 '],
 [],
 ['02/01/2019 ',
  'ANGELIKAM ',
  'Junior QA Specialist (Angelika) ',
  '6,440.00 '],
 [],
 ['02/01/2019 ', 'ANASTASIYA ', 'QA Specialist (Anastasiya) ', '8,540.00 '],
 [],
 ['02/01/2019 ', 'ANDREW ', 'Acct. Manager (Andrew) ', '2,685.00 '],
 [],
 ['02/01/2019 ', 'DOROTA ', 'Project Manager (Dorota) ', '11,900.00 '],
 [],
 ['02/01/2019 ', 'LUKASZ B ', 'Junior Developer (Lukasz) ', '4,270.00 '],
 [],
 ['02/01/2019 ', 'T&M SERVICES (FM) ', 'Developer (Szymon) ', '10,507.00 '],
 [],
 ['02/01/2019 ',
  'NATALIA ',
  'Assistant Project Manager (Natalia) ',
  '2,166.00 '],
 [],
 ['02/01/2019 02/01/2019 ',
  'KACPERR ',
  'UX Designer (Kacper) DISCOUNTS ',
  '4,200.00 Subtotal: 146,643.00 '],
 [],
 ['02/01/2019 02/01/2019 ',
  'ROBBIE ',
  'Business Analyst (Robbie) - January 100% JANUARY CORRECTIONS ',
  '-1,750.00 Subtotal: -1,750.00 '],
 [],
 ['02/01/2019 ', 'SEANH ', 'Engagement Manager (Sean) ', '-3,337.50 '],
 [],
 ['02/01/2019 ', 'ROBBIE ', 'Business Analyst (Robbie) ', '1,750.00'],
 []]

In [40]:
import pandas as pd

In [45]:
df=pd.DataFrame(all_rows, columns=titels)

In [46]:
df

,DATE,ACTIVITY,DESCRIPTION,AMOUNT
0,02/01/2019,LUKASZ Z,Developer (Lukasz Z.),"11,060.00"
1,None,None,None,None
2,02/01/2019,ANGELIKAM,Junior QA Specialist (Angelika),"6,440.00"
3,None,None,None,None
4,02/01/2019,ANASTASIYA,QA Specialist (Anastasiya),"8,540.00"
5,None,None,None,None
6,02/01/2019,ANDREW,Acct. Manager (Andrew),"2,685.00"
7,None,None,None,None
8,02/01/2019,DOROTA,Project Manager (Dorota),"11,900.00"
9,None,None,None,None
10,02/01/2019,LUKASZ B,Junior Developer (Lukasz),"4,270.00"
11,None,None,None,None
12,02/01/2019,T&M SERVICES (FM),Developer (Szymon),"10,507.00"
13,None,None,None,None
14,02/01/2019,NATALIA,Assistant Project Manager (Natalia),"2,166.00"
15,None,None,None,None
16,02/01/2019 02/01/2019,KACPERR,UX Designer (Kacper) DISCOUNTS,"4,200.00 Subtotal: 146,643.00"
17,None,None,None,None
18,02/01/2019 02/01/2019,ROBBIE,Business Analyst (Robbie) - January 100% JANUA...,"-1,750.00 Subtotal: -1,750.00"
19,None,None,None,None
20,02/01/2019,SEANH,Engagement Manager (Sean),"-3,337.50"
21,None,None,None,None
22,02/01/2019,ROBBIE,Business Analyst (Robbie),"1,750.00"
23,None,None,None,None

In [48]:
df.to_excel("output.xlsx")

In [49]:
df.to_excel("output.xlsx",
             sheet_name='Sheet_name_1')